@import "~bulma/sass/utilities/initial-variables"
@import "~bulma"

.navbar .navbar-menu
  box-shadow:none !important

.navbar-brand .navbar-item.logo
  padding: 0 1rem

/* Hero Section */
.intro
  padding: 5% 3%

.hero_title
  color: white
  font-weight: bold
  font-size: x-large

.hero_subtitle
  color: aliceblue
  font-size: larger
  padding-top: 10px

.skills_list_container
  width: fit-content
  border: 1px solid white
  color: white
  legend
    text-align: center
    font-size: larger
    padding: 10px

.skill
  color: white

@media screen and (min-width: 200px) and (max-width: 767px)
  .Hero
    height: 100vh

  .hero_title
    text-align: center

  .hero_subtitle
    text-align: center

  .skills_list_container
    padding: 5%
    position: absolute
    left: 50%
    bottom: 0
    -webkit-transform: translateX(-50%)
    transform: translateX(-50%)

@media screen and (min-width: 768px)
  .Hero
    height: 80vh

  .intro
    width: 50%

  .skills_list_container
    padding: 3.5%
    position: absolute
    bottom: 20%
    right: 10%