@import "~bulma/sass/utilities/initial-variables"
@import "~bulma"

.navbar .navbar-menu
  box-shadow:none !important

.navbar-brand .navbar-item.logo
  padding: 0 1rem

/* Hero Section */
.intro
  padding: 5% 3%

.hero_title
  color: white
  font-weight: bold
  font-size: x-large

.hero_subtitle
  color: aliceblue
  font-size: larger

.skills_list_container
  width: fit-content
  padding: 5%

@media screen and (min-width: 200px)
  .skills_list_container
    margin: 0 auto

@media screen and (min-width: 768px)
  .skills_list_container
    float: right