@import "~bulma/sass/utilities/initial-variables"
@import "~bulma"

/* Hero section animations - Source: https://codepen.io/fabriceleven/pen/QjZjPG?editors=1100  */
.animate
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

.one
  -webkit-animation-delay: 0.4s
  -moz-animation-delay: 0.4s
  animation-delay: 0.4s

@-webkit-keyframes fadeInLeft
  from
    opacity: 0
    -webkit-transform: translate3d(-100%, 0, 0)
    transform: translate3d(-100%, 0, 0)

  to
    opacity: 1
    -webkit-transform: none
    transform: none

@keyframes fadeInLeft
  from
    opacity: 0
    -webkit-transform: translate3d(-100%, 0, 0)
    transform: translate3d(-100%, 0, 0)

  to
    opacity: 1
    -webkit-transform: none
    transform: none

.fadeInLeft
  -webkit-animation-name: fadeInLeft
  animation-name: fadeInLeft

/* NavBar */
.container
  position: fixed

.navbar-menu
  width: 100vw
  background-color: white

.navbar-brand
  background-color: white

.navbar .navbar-menu
  box-shadow:none !important

.navbar-brand .navbar-item.logo
  padding: 0 1rem

.navItem
  padding: 10px 25px
  text-align: center
  display: block
  a
    color: black

/* Hero Section */
.intro
  padding: 5% 3%

.hero_title
  color: white
  font-weight: bold
  font-size: x-large

.hero_subtitle
  color: aliceblue
  font-size: larger
  padding-top: 10px

.skills_list_container
  width: fit-content
  border: 1px solid white
  color: white
  padding: 15px 30px
  legend
    text-align: center
    font-size: larger
    padding: 10px

.skill
  color: white

/* MiddleState Section */

.heading
  height: 90%
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  text-transform: none
  text-align: center

.logo
  height: 2em
  width: auto


/* Project Card */
.cards-container
  position: relative
  top: 5%

.project-img
  width: 99.9%
  height: 60%
  border-radius: 2px
  margin-top: 0
  border-bottom: 1px lightgray solid

.flip-card
  background-color: transparent
  perspective: 1000px
  width: 300px
  height: 475px
  
/* This container is needed to position the front and back side */
.flip-card-inner
  position: relative
  width: 100%
  height: 100%
  text-align: center
  transition: transform 0.8s
  transform-style: preserve-3d
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.15)
  
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner
  transform: rotateY(180deg)
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.15)

/* Position the front and back side */
.flip-card-front, .flip-card-back
  position: absolute
  width: 100%
  height: 100%
  backface-visibility: hidden
  border-radius: 2px
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.15)

/* Style the front side (fallback if image is missing) */
.flip-card-front
  background-color: ghostwhite
  border-radius: 5px
  color: black
  
/* Style the back side */
.flip-card-back
  background: #00BCD4
  color: white
  transform: rotateY(180deg)
  border-radius: 5px

.description
  margin: 5px 5px 0
  word-spacing: 2px

.arrow
  color: #00BCD4
  position: absolute
  bottom: 5px
  right: 5px

.projectName
  margin-bottom: 0
  font-weight: 600

.Card-Demo-button
  margin: 0 auto
  position: relative
  top: 1%

.Card-Repo-button
  margin: 0 auto
  position: relative
  top: 5%

ul
  text-align: center
  margin-right: 35px
  position: relative

.techListItem
  font-size: 20px
  list-style-type: none
  padding-top: 10px
  padding-bottom: 10px

  -webkit-box-shadow: 0 2.5px 6px -6px #222
  -moz-box-shadow: 0 2.5px 6px -6px #222
  box-shadow: 0 2.5px 6px -6px #222

.cards-row
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.Projects-container
  width: 100%
  height: 100%
  box-shadow: inset 0 0 0 1000px rgba(240, 248, 255, .8)
  /* background-color: aliceblue; */
  text-align: center

.projects-animated
  top: 5%

.Projects-title
  margin: 0 auto
  color: #00BCD4
  color: -webkit-linear-gradient(to right, #48b1bf, #06beb6)
  color: linear-gradient(to right, #48b1bf, #06beb6)

.btn:link,
.btn:visited
  text-transform: uppercase
  text-decoration: none
  padding: 15px 40px
  display: inline-block
  width: 100px
  border-radius: 100px
  transition: all .2s
  position: relative

.btn:hover
  transform: translateY(-3px)
  box-shadow: 0 20px 30px rgba(0,0,0,.2)

.btn:active
  transform: translateY(-1px)
  box-shadow: 0 10px 20px rgba(0,0,0,.2)

.btn-white
  background-color: white
  color: #777



























@media screen and (min-width: 200px)
  .cellardoor
    margin-top: 260% !important

  .dataharvest
    margin-top: 520% !important

  .grizzlyfest, .cellardoor, .dataharvest
    position: absolute
    height: 150%
    width: 90%
    margin: 0 auto
    // margin-top: 2.5% !important
    margin-bottom: 10% !important
    left: 5%
    border: 1px solid lightgray

  .grizzlyfest > .image_container, .cellardoor > .image_container, .dataharvest > .image_container
    position: absolute
    width: 100%
    height: 50%
    z-index: 1

  .grizzlyfest > .project_content, .cellardoor > .project_content, .dataharvest > .project_content
    position: absolute
    width: 100%
    height: 50%
    bottom: 0
    z-index: 0
    h1
      padding: 0% 10% 1% 10%
      text-align: center
      font-size: x-large
      font-weight: bold
    h3
      text-align: center
      padding: 0% 2%
      font-style: italic
    p
      padding: 2% 10% 5% 10%
    .buttons_container
      text-align: center
      button
        padding: 10px 30px
        border: none
        background-color: deepskyblue
        color: aliceblue
        margin: 15px

  .grizzlyfest
    background-color: white
    .project_content
      background-color: white

  .cellardoor
    background-color: white
    .project_content
      background-color: white
      h1, h3, p
        color: black

  .dataharvest
    background-color: white
    .project_content
      background-color: white

  /* Projects */
  .Projects-container
    padding-bottom: 5%

  .Projects-title
    letter-spacing: 10px
    font-size: 8vw
    padding: 20% 5% 10% 5%

  .cards-row
    width: 90%
    margin: 5%

  .flip-card
    margin: 0 auto
    margin-bottom: 50%

  .description
    padding: 2px


@media screen and (min-width: 375px)
  .cellardoor
    margin-top: 230% !important

  .dataharvest
    margin-top: 460% !important

  .description
    padding: 7px

@media screen and (min-width: 425px)
  .cellardoor
    margin-top: 200% !important

  .dataharvest
    margin-top: 400% !important

  .Projects-title
    letter-spacing: 5px
    font-size: 40px
    padding: 15% 5% 5% 5%

@media screen and (min-width: 500px)
  .cellardoor
    margin-top: 170% !important

  .dataharvest
    margin-top: 340% !important

@media only screen and (min-width: 667px) and (max-width: 767px)
  .flip-card
    padding-left: 5%
    padding-right: 5%

@media screen and (min-width: 600px)
  .cellardoor
    margin-top: 140% !important

  .dataharvest
    margin-top: 280% !important

@media screen and (min-width: 700px)
  .cellardoor
    margin-top: 120% !important

  .dataharvest
    margin-top: 240% !important

@media screen and (min-width: 200px) and (max-width: 600px)
  .skills_list_container
    position: absolute
    left: 50%
    bottom: -10%
    -webkit-transform: translateX(-50%)
    transform: translateX(-50%)

@media screen and (min-width: 200px) and (max-width: 767px)
  .Hero
    height: 120vh

  .hero_title
    text-align: center

  .hero_subtitle
    text-align: center

  .heading
    font-size: inherit

  .grizzlyfest > .image_container, .dataharvest > .image_container
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%, 0% 0%)

  .cellardoor > .image_container
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%, 0% 0%)

@media screen and (min-width: 601px)
  .Hero
    height: 80vh

  .intro
    width: 50%

  .skills_list_container
    position: absolute
    bottom: 10%
    right: 10%

  .heading
    font-size: x-large
    margin-bottom: 5%

  .grizzlyfest > .image_container, .cellardoor > .image_container, .dataharvest > .image_container
    height: 50%

@media screen and (min-width: 768px)
  .cellardoor
    margin-top: 55% !important

  .dataharvest
    margin-top: 110% !important

  .grizzlyfest, .cellardoor, .dataharvest
    position: absolute
    height: 70%
    width: 90%
    margin: 0 auto
    // margin-top: 2.5% !important
    margin-bottom: 10% !important
    left: 5%
    border: 1px solid lightgray

  .grizzlyfest > .image_container, .dataharvest > .image_container
    position: absolute
    width: 70%
    height: 100%
    z-index: 0

  .grizzlyfest > .project_content, .dataharvest > .project_content
    position: absolute
    width: 60%
    height: 100%
    right: 0
    z-index: 1
    clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%, 30% 0%)
    h1
      margin-top: 5%
      margin-left: 25%
      padding-top: 2%
    h3
      margin-left: 25%
    p
      padding: 2% 10% 0% 30%
    .buttons_container
      margin-left: 15%
      button
        cursor: pointer

  .cellardoor > .image_container
    position: absolute
    width: 70%
    height: 100%
    z-index: 0
    right: 0

  .cellardoor > .project_content
    position: absolute
    width: 60%
    height: 100%
    z-index: 1
    left: 0
    clip-path: polygon(0% 0%, 70% 0%, 100% 100%, 0% 100%, 0% 0%)
    h1
      margin-top: 5%
      margin-right: 25%
      padding-top: 2%
    h3
      margin-right: 25%
    p
      padding: 2% 30% 0% 10%
    .buttons_container
      margin-right: 15%
      button
        cursor: pointer

  .Projects-title
    letter-spacing: 5px
    padding: 10% 5% 0 5%

  .flip-card
    margin-bottom: 15%

@media only screen and (min-width: 1000px) and (max-width: 1023px)
  .flip-card
    padding: 5%

  .ProfilePhoto-container
    padding-left: 5%

@media screen and (min-width: 1024px)
  .navbar
    padding-top: 15px
    padding-bottom: 15px
    height: 70px

  .navbar-menu
    display: flex
    justify-content: flex-end
    padding-right: 10%
    padding-top: 20px
    padding-bottom: 20px
    position: fixed
    top: 0

  .navItem
    padding-bottom: 5px
    height: 50px

  .navItem:after
    display: block
    content: ''
    border-bottom: solid 1px deepskyblue
    transform: scaleX(0)
    transition: transform 250ms ease-in-out
    padding-top: 5px

  .navItem:hover:after
    transform: scaleX(1)

  .heading
    font-size: xx-large

  .cellardoor
    margin-top: 45% !important

  .dataharvest
    margin-top: 90% !important

  .grizzlyfest > .project_content, .dataharvest > .project_content
    h3
      padding-bottom: 20px
    p
      padding: 0% 10% 2% 30%

  .cellardoor > .project_content
    h3
      padding-bottom: 20px
    p
      padding: 0% 30% 2% 10%

  .Projects-title
    letter-spacing: 4px
    font-size: 3.5vw
    padding: 10% 5% 5% 5%

  .arrow
    display: none

  .cards-row
    width: 100%
    margin: 0 auto

@media only screen and (min-width: 1440px)
  .Projects-title
    letter-spacing: 4px
    font-size: 3vw
    padding: 10% 5% 5% 5%