@font-face {
  font-family: Gilroy-Bold;
  src: url(fonts/Gilroy-Bold.ttf) format("truetype");
}

@font-face {
  font-family: Gilroy-Light;
  src: url(fonts/Gilroy-Light.otf) format("opentype");
}

@font-face {
  font-family: Montserrat-Light;
  src: url(fonts/Montserrat-Light.ttf) format("truetype");
}